/* navbar stuff */
nav {
    background-color: #BEFD73;
    padding: 10px;
    margin-bottom: 50px;
}
nav > ul {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
}
li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}
a {
    text-decoration: none;
    color: black;
    padding: 25px;
}
a.green {
    background-color: #2ECC71;
}
a > img {
    width: 100px;
    height: 100px;
    /* border-radius:  50%; */
    background-color: none;
}
img[alt="profile picture"] {
    width: 100px;
    height: 100px;
    border-radius:  50%;
    background-color: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  
@media screen and (max-width: 600px) {
    nav {
        width: 100vw;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li {
        padding: 1%;
        margin: 5%
    }
    a {
        text-decoration: none;
        color: black;
        padding: 5px;
    }
    nav img {
        width: 15%;
        height: auto;
    }
    img[alt="profile picture"] {
        width: 15%;
        height: auto;
    }}
    /* selection stuff */
div.dogselection {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #2DCC70;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 202px;
    align-items: center;
    width: 100%;
}
img[alt="Plus sign to add a dog"] {
    width: 150px;
    height: 150px;
    order:-2;
    justify-self: flex-start;
}
img[alt="Drop down icon to choose a dog"] {
    width: 100px;
    height: 100px;
    justify-self: flex-end;
    /* border: #3498DB solid 1px; */
}
.dogfo {
    display: flex;
    flex-direction: row;
    /* border: #3498DB 1px solid; */
    width: fit-content;
    align-items: center;
    justify-content: center;
}
/* Behold! The solution to a 30 minute long struggle! */
.bigfiller {
    flex-grow: 1;
}
img[alt="PFP of dog"] {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px;
    /* border: #C783E2 solid 1px; */
}