body {
    font-family: Arial, sans-serif;
    margin: 0px;
}

a.statbutton {
    text-decoration: none;
    color: black;
    background-color: #2DCC70;
    padding: 15px;
    border-radius: 30px;
}


/* selection stuff */
div.dogselection {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #2DCC70;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 202px;
    align-items: center;
}
img[alt="Plus sign to add a dog"] {
    width: 150px;
    height: 150px;
    order:-2;
    justify-self: flex-start;
}
img[alt="Drop down icon to choose a dog"] {
    width: 100px;
    height: 100px;
    justify-self: flex-end;
    /* border: #3498DB solid 1px; */
}
.dogfo {
    display: flex;
    flex-direction: row;
    /* border: #3498DB 1px solid; */
    width: fit-content;
    align-items: center;
    justify-content: center;
}
/* Behold! The solution to a 30 minute long struggle! */
.bigfiller {
    flex-grow: 1;
}
img[alt="PFP of dog"] {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px;
    /* border: #C783E2 solid 1px; */
}



/* navbar stuff */
nav {
    background-color: #BEFD73;
    padding: 10px;
    margin-bottom: 50px;
}
nav > ul {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
}
li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}
a {
    text-decoration: none;
    color: black;
    padding: 25px;
}
a.green {
    background-color: #2ECC71;
}
a > img {
    width: 100px;
    height: 100px;
    /* border-radius:  50%; */
    background-color: none;
}
img[alt="profile picture"] {
    width: 100px;
    height: 100px;
    border-radius:  50%;
    background-color: none;
}


div.lonebutton {
    width:100%;
    justify-content: center;

    text-align: center;
}
.stats {
    padding-right:40px;
    padding-left: 40px;
}

/* combines alarm and appointment on the same area */
div.wonderhoy {
    display: flex;
    align-items: flex-start;
}
/* alarm */
.alarms {
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alarmitem:nth-child(odd) {
    background-color: #F1C40F;
    width:40%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}

.alarmitem:nth-child(even) {
    background-color: #F39C12;
    width:40%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}
/* appointment */
.appointments {
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.appointmentitem:nth-child(odd) {
    background-color: #C783E2;
    width:40%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}
.appointmentitem:nth-child(even) {
    background-color: #3498DB;
    width:40%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}
