/* navbar stuff */
nav {
    background-color: #BEFD73;
    padding: 10px;
    margin-bottom: 50px;
}
nav > ul {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
}
li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}
a {
    text-decoration: none;
    color: black;
    padding: 25px;
}
a.green {
    background-color: #2ECC71;
}
a > img {
    width: 100px;
    height: 100px;
    /* border-radius:  50%; */
    background-color: none;
}
img[alt="profile picture"] {
    width: 100px;
    height: 100px;
    border-radius:  50%;
    background-color: none;
}

/* condition list */
content.conditions {
    text-align: center;
    margin: 20px;
    text-align: center;
}
.conditions ul li {
    font-size: 20px;
    justify-self: center;
}
.conditions h1 {
    font-size: 30px;
    font-weight: 600;
}
.conditions button {
    border: none;
    background-color: #2DCC70;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    color: white;
}
div.insert {
    margin: 20px;
    background-color: #96E6B8;
    padding: 20px;
    width: 65%;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.insert input {
    flex-basis: 90%;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
}
div.insert button {
    background-color: #2DCC70;
    flex-basis:79%;
    height: 40px;
    border-radius: 60px;
    border: none;
}

/* weight info */
div.weight {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}
div.enterweight {
    background-color: #F39C11;
    width:fit-content;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
div.enterweight input {
    flex-basis: 75%;
    padding: 2px;
    height: 25px;
    margin: 5px;
}
div.enterweight button {
    flex-basis: 40%;
    color: white;
    background-color: #2DCC70;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
table {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}
tr,th,td {
    border: 1px solid;
    padding: 5px;
}
.conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weight {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;


}

/* med info */
.medication {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: space-between;
}
.typemedication {
    background-color: #C683E2;
    width:90%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.typemedication input {
    width: 80%;
    padding: 2px;
    height: 25px;
    margin: 5px;
}
form.typemedication button {
    flex-basis: 40%;
    color: white;
    background-color: #2DCC70;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
.organize1 {
    display:flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    nav {
        width: 100vw;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li {
        padding: 1%;
        margin: 5%
    }
    a {
        text-decoration: none;
        color: black;
        padding: 5px;
    }
    nav img {
        width: 15%;
        height: auto;
    }
    img[alt="profile picture"] {
        width: 15%;
        height: auto;
    }
    .weight {
        flex-basis:90%;
        margin: 15px;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }
    .medication {
        width: 90%;
        margin: 15px;
    }
    div.organize1 {
        flex-wrap:wrap;
        padding: 10px;
    }
}