nav {
    background-color: #BEFD73;
    padding: 10px;
    margin-bottom: 50px;
}
nav > ul {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
}
li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}
a {
    text-decoration: none;
    color: black;
    padding: 25px;
}
a.green {
    background-color: #2ECC71;
}
a > img {
    width: 100px;
    height: 100px;
    /* border-radius:  50%; */
    background-color: none;
}
img[alt="profile picture"] {
    width: 70%;
    height: 100%;
    border-radius:  50%;
    background-color: none;
}


div.lonebutton {
    width:100%;
    justify-content: center;
    border: #3498DB solid 1px;
    text-align: center;
}
.stats {
    padding-right:40px;
    padding-left: 40px;
}
.profile-picture {
    width: 12%;
    height: 100%;
    border-radius:  50%;
    background-color: none;
}
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}
.edit-profile-button {

    padding: 8px 16px;
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    nav {
        width: 100vw;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li {
        padding: 1%;
        margin: 5%
    }
    a {
        text-decoration: none;
        color: black;
        padding: 5px;
    }
    nav img {
        width: 15%;
        height: auto;
    }
    img[alt="profile picture"] {
        width: 15%;
        height: auto;
    }}