main {
    background-color: #BEFD73;
    padding: 20px;
    text-align: center;
    width: 65%;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    margin-top: 25%;
}
input {
    width:80%;
    padding: 10px;
}
button {
    width: 45%;
    height: 40px;
    background-color: #9A59B5;
    border-radius: 10px;
}